
### .gitignore

```gitignore
# Python
__pycache__/
*.py[cod]
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
.venv/

# VSCode
.vscode/

# Jetson
captured/

# macOS
.DS_Store
